export DIRENV_WARN_TIMEOUT=20s

eval "$(devenv direnvrc)"

# `use devenv` supports the same options as the `devenv shell` command.
#
# To silence the output, use `--quiet`.
#
# Example usage: use devenv --quiet --impure --option services.postgres.enable:bool true
use devenv

# Only set if missing (avoid rewriting every time)
if ! git config --local --get core.sshCommand >/dev/null 2>&1; then
  git config --local core.sshCommand 'ssh -o IdentitiesOnly=yes -i ~/.ssh/id_ed25519.github.krtchnt'
fi

if ! git config --local --get user.name >/dev/null 2>&1; then
  git config --local user.name 'krtchnt'
fi

if ! git config --local --get user.email >/dev/null 2>&1; then
  git config --local user.email 'kritchanat.t@ku.th'
fi

if ! git config --local --get user.signingkey >/dev/null 2>&1; then
  git config --local user.signingkey '3106AEF8BE2A61E8'
fi
